mixin example(title)
    html(lang='de')
        head
            title= title
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            link(href='../style.css' rel='stylesheet')
            script(src='./app.ts', defer)
        body
            div#page
                div#header
                    a(href="./index.html") < back to index
                div#container
                    canvas#canvas
                    div#ui
