html(lang='de')
    head
        title examples
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        h2 basic examples
        div
            h3: a(href="./triangle.html") triangle
            div a basic 3d triangle
        div
            h3: a(href="./fullscreen.html") fullscreen
            div inverts the output of a previous pass using a fullscreen shader
        h2 features
        div
            h3: a(href="./shaderInject.html") shader value injection
            div inject compile-time values into shaders while keeping the original file a valid shader
        div
            h3: a(href="./doubleBuffer.html") texture double buffering
            div textures and framebuffers have inbuilt support for double buffering, allowing easy ping-pong rendering
