include ../example.pug
+example('triangle')
    div#container
        .compare
            .compare-container
                canvas#canvas0
            .compare-container
                canvas#canvas1
        div#ui
